body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Image/members.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 100;
}

nav{
  height: 50px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));  
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.navbar ul {
  display: flex;
  margin: 0px;
  margin-top: 5px;
}

.navbar li {
  display: flex;
  padding: 10px 20px;
  justify-content: end;
  margin: 0px;
}

a {
  text-decoration: none;
  padding-bottom: 20px;
  color:white;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 90px;
}

table {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); margin: auto;;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

th {
  background-color: rgb(223, 193, 174);
} 
 

/* SEP'S VERSION OF MEMBERS 
  h2 { 
  text-align: center;
}

table {
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); margin: auto;;
  border-collapse: collapse;
}

thead tr {
  background-color: rgb(230, 216, 208);
  margin: 0;
  padding: 0;
  border: none;
}

table th {
  text-align: left;
  padding-right: 30px;
  padding-left: 10px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

tbody td {
  padding: 10px;
  border-top: 1px solid #ccc;
}  */







footer {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  padding-bottom: 10px;
  }

  footer li {
      display: flex;
      padding-top: 10px;
      padding-right: 10px;
  }

  @media (max-width: 1024px) {
      
  }

  @media (msx-width: 800px) {


  }

  @media (max-width: 600px) {

      .hamburger {
          display: flex;
          justify-content: end;
          padding: 10px
      }
      .hamburger img {
          height: 20px;
          width: 20px;
      } */

     .navbar li {
          display: none;
      }
     
      .button {
          width: 100%;
          font-size: 2.5rem;

      }

      .card {
          width: 80%;
          font-size: 2.5rem;
      }

      .newsletter {
          font-size: 1.5rem;
      }
       .newsletter p {
          font-size: 1.5rem;
       }
       
       form button {
          font-size: 1.5rem;
       }


  } 
