* {
    margin: 0px;
    padding: 0px;
}
    
    body, html {
    height: 100%
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Image/camping.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0px 0px 20px 0px;
}

.hero-text {
    text-align: center;
}

nav {
    padding: 20px;
}

.navbar ul {
    text-align: right;
    float: right;
}

.navbar li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    text-align: center;
}

div.container{
    text-align: center;

}

ul.faciliteter{
    display: inline-block;
    text-align: left;
}    


main li {
    display: inline-block;
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    padding: 10px 20px;
    border-radius: 16px;
    outline: none;
    
}


footer {
    padding: 20px;
}

footer ul {
    text-align: center;
    
}

footer li {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
}


section {
    text-align: center;
}