


.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "info main-content aside"
    "info main-content second-aside"
    "footer footer footer"
    ;
    gap: 20px;
    max-width: 1340px;
    margin: auto;
}


.nav {
    grid-area: nav;
    background-color: #814646;
}

.info {
    grid-area: info;
    background-color: #d8d2d2;
}

.main-content {
    grid-area: main-content;
    background-color: white;
}

.aside {
    grid-area: aside;
    background-color: rgb(226, 202, 202);
}

.second-aside {
    grid-area: second-aside;
    background-color: lightgray;
}

.footer {
    grid-area: footer;
    background-color:#814646;
}



body, html {
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf3ee;

}

.hero-image {
    background-image: url("images/camping.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: auto;
    max-width: 1000px;
}

.hero-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 0;
    color: rgb(0, 0, 0);
    padding-top: 50px;
}


nav {
    height: 50px;
}

.navbar {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: end;
}

.navbar ul {
    flex-direction: row;
    display: flex;
    justify-content: end;
    padding: 10px;
    font-size: large;  
}

.navbar li {
    display: flex;
    justify-content: end;
    margin: 10px 20px;  
}


.info {
    padding: 20px;
    padding-bottom: 50px;
    text-align: left;
}
.info h4 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 4px solid rgb(34, 33, 33);
    padding-bottom: 10px;
    font-weight: 500;
}

.info p::first-line {
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

h2 {
    text-align: left;
    padding-left: 30px;
    font-weight: 300;
    font-size: x-large;
}



.services {
    padding: 0px;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section p {
    padding: 20px;
}

img {
    width: 100%;
  }
  

main li {
    display: inline-block;
    background-color: #fdfdfd;
    border: none;
    color: black;
    text-align: center;
    display: inline-block;
    border-radius: 0px;  
    padding: 20px;
}

h4 {
    text-align: center;
    font-weight: 100;
    padding-top: 5px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .card {
    background-color: #ece4df;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); margin: auto;
    margin: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
  }

.card:hover {
  margin-top: -10px;
 
}
  .card h4 {
    align-self: flex-start;
    padding-left: 1rem;
  }
  
  .card p {
    background-color: white;
    align-self: flex-start;
    margin: 0;
    padding: 16px;
  }

  .newsletter {
    display: grid;
    justify-self: center;
    margin-top: 50px;
    padding-bottom: 30px;
}

form {
    background-color: white;
    padding: 20px;
    margin: 0;
}

form > p {
   
    font-size: 1rem;
    margin-bottom: 0px;
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5p;
    color: rgb(163, 131, 131);
}

input[type="email"]{ 
    width: 90%;
    padding: 10px;
    border: 1px solid #ece4df;
    border-radius: 4px;
}

input[type="checkbox"]{
    margin-right: 10px;
}

input[placeholder="epost@mail.com"]{
    font-size: 1em;
    padding: 8px;
}

.form-card {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
    
    
}

form button {
    width: 100%;
    height: 40px;
    background-color: rgb(116, 161, 116);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    border: none;
    font-size:medium
}

  /* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
      max-width: 1200px;
      margin: 0 auto;

  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(10, 10, 10);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 50px;
    border-radius: 50%;
    z-index: 1;
    
  }
  
  /* Place the container to the left */
  .left {
    left: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Place the container to the right */
  .right {
    left: 50%;
  }
  
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
    
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: none;
    position: relative;
  }
    
  .activities {
    padding: 20px;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: auto;
    max-width: 1000px;
  }

    .activities-card {
      background-color: #e7e4dd;
      padding: 20px;
      width: 30px;
      height: 30px;
      
      border-radius: 50%;
      border: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

     }

  
  
 footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  
  .footer ul {
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    color: white;
  }

    .footer li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: white;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 5px;

      }

 .footer p {
    color: white;
    border-left: 2px solid white;
    padding-left: 15px;
    color: white;
    padding-top: 20px;
 }








    @media (max-width: 1024px) {
        
    }

    @media (msx-width: 800px) {


    }

    @media (max-width: 600px) {

        .hamburger {
            display: flex;
            justify-content: end;
            padding: 10px
        }
        .hamburger img {
            height: 20px;
            width: 20px;
        } */

       .navbar li {
            display: none;
        }
       
        .button {
            width: 100%;
            font-size: 2.5rem;

        }

        .card {
            width: 80%;
            font-size: 2.5rem;
        }

        .newsletter {
            font-size: 1.5rem;
        }
         .newsletter p {
            font-size: 1.5rem;
         }
         
         form button {
            font-size: 1.5rem;
         }


    } 